


<div class="footer">
  <p class="copyright1">Made with ❤ by <a href="https://mohanad-80.github.io/portfolio/">Mohanad Ahmed</a></p>
  <p class="copyright2">Copyright © <%= new Date().getFullYear() %></p>
</div>


</body>
</html>